<nav class="navbar navbar-expand-lg bg-white shadow-sm px-4 py-3">

  <div class="container-fluid">

    <a class="navbar-brand fw-bold text-primary" href="#">
      Healthcare Dashboard
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarContent"
    >

      <ul class="navbar-nav ms-auto align-items-center">

        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/messages">
            <img src="./assets/email.png" alt="Message" width="26" height="26">
          </a>
        </li>

        <li class="nav-item me-3">
          <a class="nav-link position-relative" routerLink="/notifications">
            <img src="./assets/bell.png" alt="Notifications" width="26" height="26">
          <span class="position-absolute top-2 start-75 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
          </a>
        </li>

        <li class="nav-item me-4">
          <a class="nav-link" routerLink="/profile">
            <img src="./assets/profile.png" alt="Profile" width="32" height="32" class="rounded-circle border">
          </a>
        </li>

      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
        >
        <button
          class="btn btn-primary"
          type="submit"
        >
          Search
        </button>

      </form>

    </div>

  </div>

</nav>