.sidebar {
  width: 260px;
  min-height: 100vh;
  background-color: #0f172a !important;

  padding: 25px 20px;

  display: flex;
  flex-direction: column;

  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.4);
}

/* Logo */

.logo-section {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  object-fit: cover;

  background: white;
  padding: 10px;
}

/* Navigation */

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Menu Item */

.nav-item {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 14px;

  padding: 16px 18px;

  border-radius: 12px;

  background-color: #1e293b !important;

  color: #ffffff !important;
  text-decoration: none;

  font-size: 20px !important;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

/* Icon */

.nav-item i {
  font-size: 22px;
  color: #60a5fa !important;
}

/* Hover */

.nav-item:hover {
  background-color: #2563eb !important;
  transform: translateX(4px);
}

/* Active */

.nav-item.active {
  background-color: #2563eb !important;
  color: white !important;
}

.nav-item.active i {
  color: white !important;
}